.card1 {
  background-color: #00ff69;
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.16);
}
.card1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.16);
}
.card2 {
  background-color: #ff1493;
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.16);
}
.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.16);
}
.card3 {
  background-color: #FFFFCD;
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.16);
}
.card3:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.16);
}
